body {
    background-color: rgb(222, 252, 244);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
p {
    color:rgb(0, 57, 142);
    font-family:'Times New Roman', Times, serif;
    font-size: 100%;
    border: 1px solid black;
    /*
        solid -> continua
        dashed -> guiones
        dotted -> puntos
        double -> doble línea
        groove -> hundido
        ridge -> saliente
        inset -> parece incrustado
        outset -> parece sobresalido    
    */
    padding: 5px;
}

a:link {
    color: rgb(252, 111, 172);
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: rgb(202, 41, 111);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: rgb(141, 212, 28);
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: rgb(96, 148, 13);
    background-color: transparent;
    text-decoration: underline;
}

.boto, .boto:link, .boto:visited {
    color: white;
    text-align: center;
    background-color: rgb(252, 111, 172);
    border: none;
    border-radius: 10px;
    border-color: transparent;
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
    cursor: pointer;
}

.boto:hover, .boto:active {
    color: white;
    text-align: center;
    background-color: rgb(45, 251, 193);
    border: none;
    border-radius: 10px;
    border-color: transparent;
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
    cursor: pointer;
}

.pagina:link, .pagina:visited, .pagina:hover, .pagina:active {
    color: black;
    text-align: center;
    background-color: rgb(255, 169, 206);
    border-radius: 8px;
    border: 2px dashed rgb(252, 111, 172);
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
    cursor: pointer;
}

.pagina:hover{
    text-decoration: underline;
}

table {
    background-color: rgb(0, 183, 255);
    border: 1px solid black;
    font-size: 100%;
}

td {
    background-color: rgb(222, 252, 244);
    border: 1px solid black;
    padding: 2px 5px;
    font-size: 100%;
}

nav {
    position:absolute; 
    top: 50px; 
    right: 20px;
}

label {
    font-size: 30px;;
    color: rgb(80, 80, 80);
}